github "alibaba/HandyJSON" ~> 5.0.0
github "stephencelis/SQLite.swift" ~> 0.11.5
github "SVProgressHUD/SVProgressHUD"
github "SnapKit/SnapKit" ~> 5.0.0
github "kishikawakatsumi/KeychainAccess"
github "onevcat/Kingfisher" ~> 4.3.1
github "Alamofire/Alamofire" "5.0.0-beta.5"
github "CoderMJLee/MJRefresh"  ~> 3.2.3
github "DaveWoodCom/XCGLogger" ~> 7.0.0
github "scalessec/Toast-Swift" ~> 5.0.0
github "ibireme/YYWebImage"
github "robbiehanson/CocoaAsyncSocket" "master"
